<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Herramientas</title>
    <link rel="stylesheet" href="../static/css/Herramientas.css">
</head>
<body>
    <div class="container mt-5">

        <h1 class="mb-4">Consumiendo API</h1>
    
        <table class="table table-striped">
    
          <thead>
    
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>imagen_url</th>
            </tr>
    
          </thead>
    
          <tbody id="tableBodyherramientas">
    
            <!-- Los datos de la API se llenarán aquí, Por que ?-->
    
          </tbody>
    
        </table>
    
      </div>
    
    
    
      <script src="api.js"></script>
    
</body>
</html>
